@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* variables */

:root {
  --blue: #8585ff;
  --red: #ff7070;
  --green: #8deb8d;
  --yellow: #ffff85;
  --orange: #ffcd70;
  --off-white: #fff;
  --grey: #000000a4;
  --main-font: 'Quicksand', sans-serif;
}

/* main css */

html {
  font-size: 10px;
}

body {
  background-color: var(--blue);
  font-family: var(--main-font);
  color: var(--off-white);
  font-size: 1.6rem;
  user-select:none;
}

/* header and nav style */

header {
  background-color: var(--grey);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99999;
  border-bottom: white solid 0.2rem;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.cube-icon {
  height: 3.5rem;
}

h1 {
  font-weight: 400;
  color: var(--off-white);
  font-size: 3rem;
  margin-left: 1rem;
}
.nav-btn-container {
  margin-right: 1rem;
}

.nav-btn {
  margin: 0.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.nav-btn:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

/* timer styling */
.scramble {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 9rem;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  user-select:none;
}

.scramble:hover{
  transform: scale(1.02);
  opacity: 0.6;
}

.timer-container {
  box-sizing: border-box;
  height: calc(100vh);
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.timer {
  position: absolute;
  top:calc(50% - 6rem);
  font-size: 5rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  font-weight: 500;
  text-align: left;
  width:22rem;
  user-select:none;
}

.timer:hover {
  transform: scale(1.05);
  opacity: 0.6;
}

.timer-message {
  padding: 1rem;
  font-size: 1.5rem;
  user-select:none;
}

/* control buttons under timer */

.control-btns-container{
  position: absolute;
  top:50%;
}

.control-btn{
  height:2.5rem;
  font-size: 1rem;
  width:6rem;
  cursor: pointer;
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height:10rem;
  bottom: 0;
  padding: 2rem 0;
  font-size: 1.3rem;
  background-color: var(--grey);
  border-top: solid white 0.2rem;
  user-select:none;
}

.info-item.right-align {
  text-align: right;
  margin-right: 3rem;
}

.info-item.left-align {
  text-align: left;
  margin-left: 3rem;
}
.info-item {
  margin-bottom: 0.9rem;
}

.stat-item{
  padding-left: 0.5rem;
}

/* stats drop down styling */
.stats-tab {
  background-color: var(--red);
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 6rem;
  height: 0;
  transition: ease-in-out 1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom:0.2rem white solid;
}

.stats-tab-open {
  height: calc(100% - 20rem);
  overflow: auto;
}

.chart-container{
  width:80%;
  max-width: 50rem;
  margin-right: 3rem;
  margin-top: 5rem;
}

.settings-tab {
  background-color: var(--green);
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 6rem;
  height: 0;
  transition: ease-in-out 1s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid white 0.2rem;
}

.settings-tab-open {
  height: calc(100% - 20rem);
  overflow: auto;
}

.close-btn{
  position: absolute;
  right:1rem;
  top:1rem;
  cursor: pointer;
}


/* general class to apply to elements */
.hidden{
  display: none;
}

.selected{
  color:white;
}


